@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'nasalizationregular';
  src: url('fonts/webfontkit-nasalization/nasalization-rg-webfont.woff2') format('woff2'),
       url('fonts/webfontkit-nasalization/nasalization-rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes cwrotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ccwrotate {
  to {
    transform: rotate(-360deg);
  }
}

/*hamburger navbar thing*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 200px;
  width: 90%;
  left: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  color: #fff;
  z-index: 4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li,
button {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ed9c05;
}

@media (max-width: 1000000000px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: absolute;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 0px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    height: 23px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #f8860d;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: rgb(0, 0, 0);
    opacity: 1;
    border-right: solid;
    border-color: white;
    box-shadow: 2px 0 30px #000000;
    height: 100vh;
    max-width: 270px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}


/*Body*/
body {
  margin: 0;
  background-color: black;
  overflow-x: clip;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

.hero {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.hero #logo {
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
}

#first {
  background-color: transparent;
  border: 3px solid #f8860d;
  color: #f8860d;
  width: 35%;
  justify-content: center;
  border-radius: 12px;
}

#first:hover {
  background-color: #f8860d;
  border: 3px solid black;
  color: black;
  justify-content: center;
  border-radius: 12px;
}

#first p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.scroll-down {
  height: 40px;
  width: 24px;
  border: 2px solid #f8860d;
  position: relative;
  margin-top: 40px;
  left: 50%;
  bottom: 0px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down:hover{
  border: 3px solid #ff8400;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 8px;
  width: 8px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #f8860d;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

#sun {
  width: 100%;
  height: 100%;
  position: relative;
  display:flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 0px;
  padding-top: 70px;
}

#sunimg {
  max-width: 100%;
}

#sun h1 {
  color: black;
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 800;

}
#sun h2 {
  color: black;
  position: absolute;
  top: 49%;
  bottom: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
#diamonds{
  justify-content: center;
  background-color: black;
  padding-bottom: 0px;
}

.diamondcw{
  position: relative;
  bottom: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  animation: cwrotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -4s);
  animation-iteration-count: 8;
  animation-fill-mode: both;
}
.diamondccw{
  position: relative;
  bottom: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  animation: ccwrotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -4s);
  animation-iteration-count: 8;
  animation-fill-mode: both;
}
#diamond1{
  position: relative;
  z-index: 1;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 20px;
}
#dimg1{
  position: absolute;
  opacity: 1;
  width: 300px;
  height: 300px;
}
#diamonds h1{
  padding-top: 115px;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600
}

#diamond2{
  position: relative;
  height: 230px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 20px;
}
#dimg2{
  position: absolute;
  opacity: 1;
  width: 230px;
  height: 230px;
}
#diamonds h2{
  padding-top: 80px;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#diamond3{
  position: relative;
  height: 190px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 20px;
}
#dimg3{
  position: absolute;
  opacity: 1;
  width: 190px;
  height: 190px;
}
#diamonds h3{
  padding-top: 60px;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#diamond4{
  position: relative;
  height: 160px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 0px;
}
#dimg4{
  position: absolute;
  opacity: 1;
  width: 160px;
  height: 160px;
}
#diamonds h4{
  padding-top: 47px;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#diamond5{
  position: relative;
  height: 130px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-bottom: 150px;
  margin-bottom: 15px;
}
#dimg5{
  position: absolute;
  opacity: 1;
  width: 130px;
  height: 130px;
}
#diamonds h5{
  padding-top: 52px;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.modelcontainer a:link {color: #F86800;}
.modelcontainer a:visited {color: #F86800;}
.modelcontainer a:hover {color: #ff9421;}
.modelcontainer a:active {color: #ff9421;}
.modelcontainer {
  width: 100%;
  height: 1400px;
  background-color: #ebebeb;
  justify-content: center;
  padding-top: 1px;
  border-top: solid;
  border-bottom: solid;
  border-width: 10px;
  border-color: #F86800;
}

.modelcontainer h1 {
  color: #F86800;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 160px;
  font-weight: 900;
  letter-spacing: 0px;
  margin-bottom: 20px;
  line-height: 109px;
}
.modelcontainer h2 {
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 450;
  letter-spacing: 32px;
  padding-bottom: 40px;
}
.modelcontainer h3 {
  color: #d24a00;
  text-align: center;
  font-family: 'nasalization';
  font-size: 40px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 3px;
}
.modelcontainer h4 {
  color: rgb(0, 14, 54);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 450;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#disclaimer {
  color: rgb(0, 14, 54);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 172px;
  padding-right: 172px;
}

canvas {
  display:block;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  max-width: 80%;
  max-height: 80%;
}
#corona {
  color:white;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  display: block;
}
#corona h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
  line-height: 60pt;
}
#corona h2 {
  color:#ff9950;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 250;
  letter-spacing: 1px;
}

#vidPlayImg {
  display: block;
  width: 804px;
  height: 452px;
  margin-left: auto;
  margin-right: auto;
}
#coronavid {
  display: none;
  width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

#light {
  width: 100%;
  height: 188px;
  background-color: black;
  justify-content: center;
  display: block;
  padding-top: 90px;
  margin-top: 50px;
  text-align: center;
  color: rgb(227, 106, 13);
  font-size: 20px;
}
#light h1{
  position: relative;
  left: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 0px;
}

#lightimg {
  width: 100%;
  height: 72px;
  padding-top: 20px;
  background-image: url("public/sun2gray.png");
  background-size: 62px 60px;
  background-position: center;
  background-repeat: no-repeat;
}

#lightimg:hover {
  width: 100%;
  background-repeat:no-repeat;
  padding-top: 20px;
  height: 72px;
  background-image: url("public/sun2.jpg");
  background-size: 66px 62px;
  background-position: center;
}

#camera {
  width: 100%;
  height: 120px;
  background-color: black;
  justify-content: center;
  display: block;
  padding-top: 10px;
  text-align: center;
  color: rgb(0, 147, 239);
  font-size: 26px;
}
#camera h1{
  position: relative;
  left: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#camimg {
  width: 100%;
  height: 150px;
  background-image: url("public/WISPR_Camera_OFF_5.1.2.png");
  background-size: 359px 180px;
  background-position: center;
  background-repeat: no-repeat;
}

#camimg:hover {
  width: 100%;
  background-repeat:no-repeat;
  height: 150px;
  background-image: url("public/WISPR_Camera_ON_5.1.1.png");
  background-size: 359px 180px;
  background-position: center;
}

#action {
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  margin-bottom: 50px;
}
#action h1{
  color: rgb(255, 111, 0);
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.button {
  position: relative;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent transparent transparent rgb(255, 122, 0);
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;

}
.button.paused {
  border-color: rgb(255, 122, 0);
  border-style: double;
  border-width: 0px 0px 0px 60px;
}
.button:hover {
  border-color: transparent transparent transparent rgb(255, 145, 42);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  position: relative;
  top: 24px;
}
/* The slider */
.slider {
  position: relative;
  bottom: 3px;
  z-index: 3;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  height: 7px; /* Specified height */
  border-radius: 1px;  
  background: #ffffff;
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 18px; /* Set a specific slider handle width */
  height: 18px; /* Slider handle height */
  border-radius: 5%; 
  background: rgb(255, 121, 0);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 18px; /* Set a specific slider handle width */
  height: 18px; /* Slider handle height */
  border-radius: 40%; 
  background: rgb(255, 111, 0); 
  cursor: pointer; /* Cursor on hover */
}
#sliderplaceholder {
  font-size: 1px;
  margin-top: 6.2px;
}
#wisprdisplay{
  width: 100%;
  height: 90%;
  margin-bottom: 50px;
  justify-content: center;
}
#wisprdisplay a:link {color: rgb(173, 84, 0);}
#wisprdisplay a:visited {color: rgb(173, 84, 0);}
#wisprdisplay a:hover {color: rgb(255, 123, 0);}
#wisprdisplay a:active {color: rgb(255, 123, 0);}

#innerlabel{
  text-align: left;
  position: relative;
  z-index: 2;
  left: 13.5%;
  top: 22px;
  color: rgb(9, 177, 255);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}
#inner{
  position: relative;
  z-index: 2;
  width: 240px;
  height: 256px;
  left: 80%;
  bottom: 500px;
  border: 4px dashed rgb(9, 177, 255);
}
#outerlabel{
  text-align: right;
  position: relative;
  top: 1px;
  right: 13.5%;
  color: rgb(0, 117, 185);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}
#outer{
  position: relative;
  z-index: 2;
  width: 240px;
  height: 256px;
  right: 80%;
  bottom: 500px;
  border: 4px dashed rgb(0, 117, 185);
}
.innerdiv{
  width: 250px;
  float: left;
}
.outerdiv{
  width: 250px;
  float: right;
}
#locplot{
  position: relative;
  z-index: 1;
  display: flex;
  width: 500px;
  height: 500px;

  margin-left: auto;
  margin-right: auto;
  border: 4px solid rgb(255, 122, 0);
}
#psploc {
  position: relative;
  z-index: 3;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.triangle {
  width: 0;
	height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 15px solid rgb(255, 121, 19);
}
.rect1 {
  position: relative;
  top: 9.5px;
  height: 16px;
  width: 3px;
  background-color: rgb(227, 106, 13);
}
.rect2 {
  position: relative;
  right: 6.5px;
  height: 3px;
  width: 16px;
  background-color: rgb(227, 106, 13);
}
.sunicon {
  position: relative;
  z-index: 3;
  height: 10px;
  width: 10px;
  background-color: rgb(255, 188, 0);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgb(255, 188, 0);
  margin-left: auto;
  margin-right: auto;
  bottom: 296px;
  right: 12px;
}
.selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  z-index: 3;
  position: relative;
  bottom: 581px;
  left: 192px;
  appearance: none;
  padding: 2px 5px 2px 7px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 500;
  background: url(public/select.png) no-repeat 89% center;
  background-color: black;
  background-size: 10px 5px;
  color: #ff9800;
  border-radius: 7px;
  border: 2px solid rgb(255, 122, 0);
  width: 80px;
}

#positiondisplay h3 {
  font-size: 11px;
  color: rgb(173, 84, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
}
#datetxt{
  text-align: left;
  z-index: 3;
  position: relative;
  bottom: 485px;
  left: 277px;
  color: rgb(255, 122, 0);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}
#disttxt {
  z-index: 3;
  position: relative;
  text-align: center;
  left: 53px;
  bottom: 307px;
}
#AUinfo {
  z-index: 3;
  text-align: center;
  position: relative;
  right: 119px;
  bottom: 87px;
}
#wisprsource {
  z-index: 3;
  text-align: center;
  position: relative;
  left: 216px;
  bottom: 105px;
}
#acknowledgments a:link {color: rgb(173, 84, 0);}
#acknowledgments a:visited {color: rgb(173, 84, 0);}
#acknowledgments a:hover {color: rgb(255, 123, 0);}
#acknowledgments a:active {color: rgb(255, 123, 0);}
#acknowledgments {
  background-color: #181818;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-top: 50px;
  border-top: 1px dashed #ff8400;
}
#acknowledgments h1 {
  text-align: left;
  color: #ff8400;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 6%;
  margin-bottom: 3px;
}
#bottomline {
  position: relative;
  height: 1.5px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: #ff8400;
}
#pspacknowledgments {
  color: rgb(173, 84, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 10px;
}
#wispracknowledgments {
  color: rgb(173, 84, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 500;
  margin-left: 6%;
  margin-right: 6%;
}

#github a:link {color: rgb(89, 89, 89); font-family: "Lucida Console", monospace;}
#github a:visited {color: rgb(89, 89, 89);}
#github a:hover {color: rgb(216, 216, 216);}
#github a:active {color: rgb(216, 216, 216);}
#github {
  background-color: #181818;
  position: relative;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 40px;
}
#github .p{
  font-family: "Lucida Console", "Courier New", monospace;
}